<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
   
</head>
<body>
   {{>navbar}}

    <section id="about-head" class="section-p1">
        <img src="/images/ring.jpg" alt="">
        <div>
            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">About Us</h2>
            <P style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;">
                
Established in 2000, Abhishek Jewellers is Delhi's leading destination for high quality  jewellery with strikingly exquisite designs. We aim at revolutionizing the fine jewellery  segment  with a firm focus on craftsmanship, quality and customer experience.

            </P>
            <h5>Shoppig With Us</h5>
            <p style="font-family:Arial, Helvetica, sans-serif;">Placing security first, Abhishek jewellers ensures that every transaction made on the site is safe and smooth for the customers. To attain this, the company follows stern policies of transparency through the whole customer buying journey.

 All our products come backed with certification from international laboratories, and a blanket 15-day-return policy, no questions asked.

We  provide you the exquisite craftsmanship of beautiful jewellery designs such as rings, earrings, pendants, necklace, chains, bangles, bracelets, mangalsutra, nose pins. Apart from jewellery, Abhishek jewellers offers 22k (916) and 24k (995) gold coins with certification and the guarantee of a BIS Hallmarked stamp.</p>

             
                    <marquee bgcolor="#ccc" loop="-1" scrollamout="5" width="100%">30% OFF on MAKING CHARGES on FIRST ORDER</marquee>
        </div>
    </section>
   
    
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span> special offers </span> </p>
        </div>

        <div class="form">
            <input type="text" placeholder="Your email address" >
            <button class="normal">Sign Up</button>
        </div>
    </section>

       {{>footer}}

        <script src="script.js"></script>
</body>
</html >