 <section id="header"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />       <a href="#"><img src="/images/image.png" height="60px" width="170px" alt="" ></a>
 
        <div>
            <ul id="navbar">
                <li> <a  href ="/index">Home</a> </li>
                <li> <a  href ="/shop">Shop</a> </li>
                
                <li> <a class="/active" href ="about">About</a> </li>
                <li> <a href ="/Contact">Contact</a> </li>
                <li> <a href ="/register">SignUp</a> </li>
                
                <li id="lg-bag"><a href="/cart"> <i class="fas fa-shopping-cart"></i></a></li>
                <a href="#" id="close"><i class="fas fa-times"></i></a>

            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"> <i class="fas fa-shopping-cart"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    